<div id="survey">
  <h2 id="surveyName" class="text-center font-weight-normal">{{survey.name}}</h2>
  <h5 id="surveyDesc" class="text-center font-weight-normal">{{survey.description}}</h5>
  <hr />

  <div *ngIf="mode=='survey' && survey">
    <div *ngFor="let question of surveyQuestions();">
      <h3 class="font-weight-normal">
        <span [innerHTML]="question.name"></span>
      </h3>
      <div *ngIf="question.questionTypeId == 1" class=" text-left options">
        <div class="row " *ngFor="let option of question.options">
          <div class="col-12">
            <div class="option ">
              <label class="font-weight-normal" [attr.for]="option.id">
                <input class="cursor-pointer" id="{{option.id}}" type="checkbox" [(ngModel)]="option.selected"
                  (change)="onSelect(question, option.id);" /> {{option.name}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="question.questionTypeId == 2" class="row">
        <div class="col-12">
          <textarea rows="4" id="{{question.id}}" class="md-textarea form-control rounded-0" placeholder=""
            [(ngModel)]="question.value"></textarea>
        </div>
      </div>
    </div>
    <hr />
    <div class="text-center">
      <button id='btnPrev' class="btn btn-default" *ngIf="config.allowBack && pager.index != 0"
        (click)="previous(pager.index - 1);">Prev</button>
      <button id='btNext' class="btn btn-primary" *ngIf="pager.index != this.pager.count -1"
        (click)="next(pager.index + 1);">Next</button>
      <button id='btnReview' class="btn btn-info" *ngIf="canReview(pager.index);" (click)="modeOperations('review');">Review</button>
    </div>
  </div>

  <div class="review" *ngIf="mode=='review'">
    <h2>Survey Review</h2>
    <div *ngFor="let question of this.survey.reviewQuestions; let index = index">
      <div class="review-question">
        <h5>{{question.name}}</h5>
        <div *ngIf="question.questionTypeId == 1" class="row">
          <div class="col-12" *ngFor="let Option of question.options">
            <input id="{{Option.id}}" type="checkbox" disabled="disabled" [(ngModel)]="Option.selected" />
            {{Option.name}}
          </div>
        </div>
        <div *ngIf="question.questionTypeId == 2" class="row">
          <div class="col-12">
            <textarea rows="4" id="{{question.id}}" class="md-textarea form-control rounded-0" disabled="disabled"
              [(ngModel)]="question.value"></textarea>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-default" (click)="modeOperations('survey');">Back</button>
    <button class="btn btn-primary" (click)="onSubmit();">Submit survey</button>
  </div>

  <div id='btnSubmit' class="row text-center" *ngIf="mode=='result'">
  </div>
  <hr />
</div>